@charset "utf-8";

/* font */
@font-face {
	font-family: "Magda Text";
	src: url("../font/Magda\ Text\ Regular.otf");
}

@font-face {
	font-family: "Bell Gothic Std";
	src: url("../font/BellGothicStd-Black.otf"), url("../font/BellGothicStd-Bold.otf"), url(../font/BellGothicStd-Light.otf);
}

/*초기화 및 상속*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

/* a,
span,
i,
strong {
	display: inline-block;
} */

a {
	text-decoration: none;
	color: #000;
}

input,
select,
button {
	vertical-align: middle;
	border-radius: 0;
	appearance: none;
	border: 0;
	outline: 0;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,
video {
	width: 100%;
	border: none;
}

html{
	font-size: 0.625em;
}


*::after,
*::before {
	box-sizing: border-box;
}

/*clearfix*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*접근성을 위한 숨김 텍스트 제공*/
.screen_out {
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	position: absolute;
}

/*폰트 크기 초기화*/


body {
	font-family: 'Magda Text';
	line-height: 1.5;
}

section{
	overflow: hidden;
}

